// Container
//
//////////////////////////////////////////////////////////////////////

.layout-buttons {
	@extend %reset-margins;
	background-color: white;
	margin: 1rem auto;
	padding: 1rem 0;
	text-align: center;
}

$inner-padding: 2rem;

.layout-container {
	@include container;
	padding: 2rem 0 1rem;
	padding-top: 0;
	width: 100%;

	@include breakpoint(max-width $tablet) {
		width: 95%;
	}

	section {
		@extend %reset-margins;
		padding: 2rem 20%;

		h1:first-child {
			width: 100%;
			@extend %reset-margins;
			@include box-sizing(content-box);
			color: $color-accent;
			text-transform: uppercase;
			text-align: center;
			font-weight: 100;
			margin-bottom: 2rem;
			font-size: 5rem;
			margin-left: -($inner-padding * 2);
			padding: 0.5rem 2rem 0.75rem;
		}

		&:nth-child(2n) {
			background-color: #2A3D52;

			&, h1:first-child, a {
				color: lighten(black, 90);
			}
			h2, h3 {
				color: lighten(#2488C9, 15);
			}
			&, p, li {
				& > code {
					background-color: darken(#2B3E51, 15);
					color: white;
				}
			}
			pre {
				border: none;
			}
		}
	}

	hr {
		border-color: #7F8C8D;
	}

	p, ul {
		font-size: 1.1rem;
		line-height: 1.4;
		margin: 1rem 0;
		padding: 0;
		font-weight: 300;
	}

	@include breakpoint(max-width $tablet) {
		section {
			padding: 1rem;
			padding-top: 0;

			h1:first-child {
				padding: 0.5rem 1rem;
				margin-left: -1rem;
				margin-bottom: 1rem;
			}
		}
	}
}