// Container
//
//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////

.layout-container {
	@include container;
	display: table;
}

$inner-padding: 2rem;

.layout-content {
	display: table-cell;
	padding: 2rem 0 1rem;
	padding-top: 0;
	max-width: 100%;

	section {
		@extend %reset-margins;
		padding: 2rem 10%;

		h1:first-of-type {
			width: 100%;
			@extend %reset-margins;
			@include box-sizing(content-box);
			color: $color-accent;
			text-transform: uppercase;
			text-align: center;
			font-weight: 100;
			margin-bottom: 2rem;
			font-size: 5rem;
			margin-left: -($inner-padding * 2);
			padding: 0.5rem 2rem 0.75rem;
		}

		&:nth-child(2n) {
			$color: darken($color-base, 5);
			background-color: $color;

			&, h1:first-of-type, a {
				color: lighten(black, 90);
			}
			h2, h3 {
				color: lighten(color("navy"), 15);
			}
			&, p, li {
				& > code {
					background-color: darken($color, 15);
					color: white;
				}
			}
		}
	}

	@include breakpoint(max-width $tablet) {
		section {
			padding: 1rem;
			padding-top: 0;

			h1:first-child {
				font-size: 3rem;
				padding: 0.5rem 1rem;
				margin-left: -1rem;
				margin-bottom: 1rem;
			}
		}
	}
}
