# Cache and compiled
bin/rocketeer.phar
bin/rocketeer.phar-contents
composer.lock

# Tests
.configuration
.rocketeer
humbuglog.txt
tests/_server/foobar

# Dependencies
vendor

# PhpUnit configuration local machine only
phpunit.xml

#IDE env
.idea
