language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-source --dev

matrix:
  allow_failures:
    - php: hhvm
  fast_finish: true

script: phpunit --verbose
