// Patterns
//
//////////////////////////////////////////////////////////////////////

%reset-margins {
	margin: 0;
	padding: 0;
}

%main-column {
	@include container;
	width: 90%;
	max-width: 90rem;
	@include box-shadow(0 0 0 1rem rgba(black, .05));

	@include breakpoint(max-width $tablet) {
		width: 95%;
	}
}