body, html, .layout-content section, .layout-content section h1:first-of-type, .layout-header, .layout-header h1, .layout-buttons {
  margin: 0;
  padding: 0; }

html {
  font-size: 100%;
  line-height: 1.5em; }

@media (max-width: 50em) {
  html {
    font-size: 87.5%;
    line-height: 1.5em; } }
body, html {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  line-height: 1.25; }

body {
  background-color: #edf1f2;
  color: #808d8e; }

pre {
  padding: .75rem;
  border: none; }
  @media (max-width: 50em) {
    pre {
      line-height: 1.2; }
      pre code {
        font-size: 0.75rem; } }

code {
  background-color: #9cb2c9;
  color: white;
  font-size: 0.80em; }

h1, h2, h3, h4 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  line-height: 1.25;
  font-weight: 300; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.75rem;
  color: #354a5f; }

h3 {
  font-size: 1.5rem;
  color: #22303f; }

h4 {
  color: #22303f; }

hr {
  border-color: #808d8e; }

p {
  text-align: justify; }

a {
  color: #354a5f;
  font-weight: bold; }

ul {
  list-style-type: square; }

p, ul {
  font-size: 1.1rem;
  line-height: 1.4;
  margin: 1rem 0;
  padding: 0;
  font-weight: 300; }

.layout-container {
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: table; }
  .layout-container:after {
    content: " ";
    display: block;
    clear: both; }

.layout-content {
  display: table-cell;
  padding: 2rem 0 1rem;
  padding-top: 0;
  max-width: 100%; }
  .layout-content section {
    padding: 2rem 10%; }
    .layout-content section h1:first-of-type {
      width: 100%;
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      color: #22303f;
      text-transform: uppercase;
      text-align: center;
      font-weight: 100;
      margin-bottom: 2rem;
      font-size: 5rem;
      margin-left: -4rem;
      padding: 0.5rem 2rem 0.75rem; }
    .layout-content section:nth-child(2n) {
      background-color: #2b3d4f; }
      .layout-content section:nth-child(2n), .layout-content section:nth-child(2n) h1:first-child, .layout-content section:nth-child(2n) a {
        color: #e6e6e6; }
      .layout-content section:nth-child(2n) h2, .layout-content section:nth-child(2n) h3 {
        color: #56a9e1; }
      .layout-content section:nth-child(2n) > code, .layout-content section:nth-child(2n) p > code, .layout-content section:nth-child(2n) li > code {
        background-color: #10171e;
        color: white; }
  @media (max-width: 50em) {
    .layout-content section {
      padding: 1rem;
      padding-top: 0; }
      .layout-content section h1:first-child {
        font-size: 3rem;
        padding: 0.5rem 1rem;
        margin-left: -1rem;
        margin-bottom: 1rem; } }

.layout-footer {
  width: 100%;
  padding: 4rem 0;
  background-color: white;
  color: #22303f;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.25;
  text-align: center; }

.layout-header {
  -moz-transition: padding 0.3s;
  -o-transition: padding 0.3s;
  -webkit-transition: padding 0.3s;
  transition: padding 0.3s;
  -moz-box-shadow: inset 0 -1rem 0 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 -1rem 0 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1rem 0 0 rgba(0, 0, 0, 0.25);
  background: white url('../img/header.jpg?1390079255') fixed no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 11rem 0;
  text-align: center; }
  .layout-header h1 {
    color: white;
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.25;
    text-shadow: 0 0.05em 0 rgba(0, 0, 0, 0.25);
    font-family: "Lato", Helvetica, Arial, sans-serif; }
    .layout-header h1 small {
      color: #e6e6e6;
      display: block;
      line-height: 1;
      margin: auto; }
  @media (max-width: 60em) {
    .layout-header {
      padding: 5rem 0; }
      .layout-header h1 {
        font-size: 3rem; }
      .layout-header small {
        font-size: 1rem;
        max-width: 60%; } }
  @media (min-width: 60em) and (max-width: 75em) {
    .layout-header {
      padding: 7rem 0; } }

.layout-buttons {
  background-color: white;
  margin: 1rem auto 0;
  padding: 1rem 0;
  text-align: center; }

.layout-sidebar {
  width: 26em;
  display: table-cell;
  vertical-align: top;
  padding: 2rem;
  background-color: #354a5f; }
  @media (max-width: 60em) {
    .layout-sidebar {
      display: none; } }
  .layout-sidebar a {
    color: white;
    font-weight: 400; }
    .layout-sidebar a:hover {
      text-decoration: none; }
  .layout-sidebar ul {
    list-style-type: none;
    margin: 0; }
  .layout-sidebar li {
    margin: 0;
    padding: 0.15rem 0.5rem; }
    .layout-sidebar li:hover {
      background-color: #19242e; }
  .layout-sidebar .toc-h1 {
    border-left: 3px solid #808d8e; }
  .layout-sidebar .toc-h2 {
    padding-left: 1.2rem;
    font-size: 1rem; }
  .layout-sidebar .toc-h3 {
    padding-left: 1.8rem;
    font-size: 0.9rem; }
  .layout-sidebar .toc-h3 {
    padding-left: 2.4rem;
    font-size: 0.8rem; }
