body, html, .layout-header, .layout-header h1, .layout-buttons, .layout-container section, .layout-container section h1:first-child {
  margin: 0;
  padding: 0; }

html {
  font-size: 100%;
  line-height: 1.5em; }

@media (max-width: 50em) {
  html {
    font-size: 87.5%;
    line-height: 1.5em; } }
body, html {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  line-height: 1.25; }

pre {
  padding: .75rem; }
  @media (max-width: 50em) {
    pre {
      line-height: 1.2; }
      pre code {
        font-size: 0.75rem; } }

code {
  background-color: #4d4d4d;
  color: white;
  font-size: 0.80em; }

p {
  text-align: justify; }

a {
  color: #34495e;
  font-weight: bold; }

ul {
  list-style-type: square; }

h1, h2, h3, h4 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  line-height: 1.25;
  font-weight: 300; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.75rem;
  color: #34495e; }

h3 {
  font-size: 1.5rem;
  color: #222f3d; }

h4 {
  color: #222f3d; }

body {
  background-color: #ECF0F1;
  color: #7F8C8D; }

.layout-header {
  -moz-transition: padding 0.3s;
  -o-transition: padding 0.3s;
  -webkit-transition: padding 0.3s;
  transition: padding 0.3s;
  -moz-box-shadow: inset 0 -1rem 0 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 -1rem 0 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1rem 0 0 rgba(0, 0, 0, 0.25);
  background: white url('../img/header.jpg?1386080894') fixed no-repeat;
  background-size: cover;
  padding: 11rem 0;
  text-align: center; }
  .layout-header h1 {
    color: white;
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.25;
    text-shadow: 0 0.05em 0 rgba(0, 0, 0, 0.25);
    font-family: "Lato", Helvetica, Arial, sans-serif; }
    .layout-header h1 small {
      color: #e6e6e6;
      display: block;
      line-height: 1;
      margin: auto; }
  @media (max-width: 60em) {
    .layout-header {
      padding: 5rem 0; }
      .layout-header h1 {
        font-size: 3rem; }
      .layout-header small {
        font-size: 1rem;
        max-width: 60%; } }
  @media (min-width: 60em) and (max-width: 75em) {
    .layout-header {
      padding: 7rem 0; } }

.layout-buttons {
  background-color: white;
  margin: 1rem auto;
  padding: 1rem 0;
  text-align: center; }

.layout-container {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 0 1rem;
  padding-top: 0;
  width: 100%; }
  .layout-container:after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 50em) {
    .layout-container {
      width: 95%; } }
  .layout-container section {
    padding: 2rem 20%; }
    .layout-container section h1:first-child {
      width: 100%;
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      color: #222f3d;
      text-transform: uppercase;
      text-align: center;
      font-weight: 100;
      margin-bottom: 2rem;
      font-size: 5rem;
      margin-left: -4rem;
      padding: 0.5rem 2rem 0.75rem; }
    .layout-container section:nth-child(2n) {
      background-color: #2A3D52; }
      .layout-container section:nth-child(2n), .layout-container section:nth-child(2n) h1:first-child, .layout-container section:nth-child(2n) a {
        color: #e6e6e6; }
      .layout-container section:nth-child(2n) h2, .layout-container section:nth-child(2n) h3 {
        color: #58abe1; }
      .layout-container section:nth-child(2n) > code, .layout-container section:nth-child(2n) p > code, .layout-container section:nth-child(2n) li > code {
        background-color: #10181f;
        color: white; }
      .layout-container section:nth-child(2n) pre {
        border: none; }
  .layout-container hr {
    border-color: #7F8C8D; }
  .layout-container p, .layout-container ul {
    font-size: 1.1rem;
    line-height: 1.4;
    margin: 1rem 0;
    padding: 0;
    font-weight: 300; }
  @media (max-width: 50em) {
    .layout-container section {
      padding: 1rem;
      padding-top: 0; }
      .layout-container section h1:first-child {
        padding: 0.5rem 1rem;
        margin-left: -1rem;
        margin-bottom: 1rem; } }

.layout-footer {
  width: 100%;
  padding: 4rem 0;
  background-color: white;
  color: #222f3d;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.25;
  text-align: center; }
