@import url(../../components/rainbow/themes/tomorrow-night.css);
/* line 20, /Users/anahkiasen/Sites/_github/rocketeer/assets/sass/styles.scss */
body, html, .layout-header, .layout-header h1, .layout-buttons {
  margin: 0;
  padding: 0; }

/* line 25, /Users/anahkiasen/Sites/_github/rocketeer/assets/sass/styles.scss */
.layout-buttons, .layout-container, .layout-footer {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 65%;
  -webkit-box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.05); }
  /* line 38, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .layout-buttons:after, .layout-container:after, .layout-footer:after {
    content: "";
    display: table;
    clear: both; }

/* line 35, /Users/anahkiasen/Sites/_github/rocketeer/assets/sass/styles.scss */
body, html {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  line-height: 1.25; }

/* line 41, /Users/anahkiasen/Sites/_github/rocketeer/assets/sass/styles.scss */
p {
  font-size: 1rem;
  line-height: 1.25;
  margin: 1rem 0;
  padding-right: 2rem; }

/* line 48, /Users/anahkiasen/Sites/_github/rocketeer/assets/sass/styles.scss */
pre {
  padding: .75rem;
  max-width: 90%; }

/* line 53, /Users/anahkiasen/Sites/_github/rocketeer/assets/sass/styles.scss */
a {
  color: #9b59b6; }

/* line 57, /Users/anahkiasen/Sites/_github/rocketeer/assets/sass/styles.scss */
h1, h2, h3, h4 {
  line-height: 1.25; }

/* line 61, /Users/anahkiasen/Sites/_github/rocketeer/assets/sass/styles.scss */
h2 {
  color: #9b59b6; }

/* line 65, /Users/anahkiasen/Sites/_github/rocketeer/assets/sass/styles.scss */
h3 {
  color: #713b87; }

/* line 73, /Users/anahkiasen/Sites/_github/rocketeer/assets/sass/styles.scss */
body {
  background-color: #9b59b6;
  background-image: url('../img/square_bg.png?1339701544'); }

/* line 78, /Users/anahkiasen/Sites/_github/rocketeer/assets/sass/styles.scss */
.layout-header {
  padding: 11rem 0;
  text-align: center;
  background-color: white;
  background-image: url('../img/rocket.svg?1372247070');
  background-repeat: no-repeat;
  background-size: 25rem;
  background-position: 10% 10%;
  background-attachment: fixed; }
  /* line 89, /Users/anahkiasen/Sites/_github/rocketeer/assets/sass/styles.scss */
  .layout-header h1 {
    font-size: 5rem;
    font-weight: 300;
    color: #9b59b6;
    text-shadow: 0 0.05em 0 rgba(0, 0, 0, 0.05);
    line-height: 1.25; }
    /* line 97, /Users/anahkiasen/Sites/_github/rocketeer/assets/sass/styles.scss */
    .layout-header h1 small {
      line-height: 1;
      display: block;
      color: #cccccc; }

/* line 105, /Users/anahkiasen/Sites/_github/rocketeer/assets/sass/styles.scss */
.layout-buttons {
  background-color: #f2f2f2;
  padding: 1rem 0;
  margin: 1rem auto;
  text-align: center; }

/* line 114, /Users/anahkiasen/Sites/_github/rocketeer/assets/sass/styles.scss */
.layout-container {
  padding: 2rem 0 1rem;
  padding-top: 0; }
  /* line 119, /Users/anahkiasen/Sites/_github/rocketeer/assets/sass/styles.scss */
  .layout-container section {
    background-color: white;
    border-left: 0.5rem solid #713b87;
    padding: 0 0 2rem 2rem;
    margin-bottom: 2rem; }
    /* line 125, /Users/anahkiasen/Sites/_github/rocketeer/assets/sass/styles.scss */
    .layout-container section:last-child {
      margin-bottom: 0; }
    /* line 129, /Users/anahkiasen/Sites/_github/rocketeer/assets/sass/styles.scss */
    .layout-container section h1:first-child {
      background-color: #713b87;
      color: white;
      font-weight: 300;
      padding: .5rem .5rem .75rem;
      margin-left: -2rem;
      margin-bottom: 2rem;
      -webkit-box-shadow: 0 0.15em 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0.15em 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 0.15em 0 rgba(0, 0, 0, 0.1); }

/* line 141, /Users/anahkiasen/Sites/_github/rocketeer/assets/sass/styles.scss */
.layout-footer {
  background-color: white;
  color: #713b87;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
  padding: 4rem 0;
  line-height: 1.25; }
