// Footer
//
//////////////////////////////////////////////////////////////////////

.layout-footer {

	// Structure
	width: 100%;
	padding: 4rem 0;

	// Appearance
	background-color: white;

	// Text
	color: $color-accent;
	font-size: 1rem;
	font-weight: bold;
	line-height: $line-height;
	text-align: center;

}