// Header
//
//////////////////////////////////////////////////////////////////////

.layout-header {
	@include transition(padding .3s);
	@extend %reset-margins;
	@include box-shadow(inset 0 -1rem 0 0 rgba(black, .25));
	background: white image-url('header.jpg') fixed no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 11rem 0;
	text-align: center;

	h1 {
		@extend %reset-margins;
		color: white;
		font-size: 5rem;
		font-weight: 300;
		line-height: $line-height;
		text-shadow: 0 .05em 0 rgba(black, .25);
		font-family: $font-sans;

		small {
			color: lighten(black, 90);
			display: block;
			line-height: 1;
			margin: auto;
		}
	}

	@include breakpoint(max-width $desktop) {
		padding: 5rem 0;

		h1 {
			font-size: 3rem;
		}
		small {
			font-size: 1rem;
			max-width: 60%;
		}
	}

	@include breakpoint($desktop $wide) {
		padding: 7rem 0;
	}
}