// Block model
//
//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////

%reset-margins {
	margin: 0;
	padding: 0;
}