// Body
//
//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////

@include establish-baseline(16px);
@include breakpoint(max-width $tablet) {
	@include establish-baseline(14px);
}

body, html {
	@extend %reset-margins;
	font-family: $font-sans;
	line-height: $line-height;
}

body {
	background-color: color("solitude");
	color: color("oslo");
}