// Code
//
//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////

pre {
	padding: .75rem;
	border: none;

	@include breakpoint(max-width $tablet) {
		line-height: 1.2;
		code {
			font-size: 0.75rem;
		}
	}
}

code {
	background-color: hsl(190, 48%, 39%);
	color: white;
	font-size: 0.80em;
}