// Typography
//
//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////

// Titles
//////////////////////////////////////////////////////////////////////

h1, h2, h3, h4 {
	font-family: $font-sans;
	line-height: $line-height;
	font-weight: 300;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.75rem;
	color: $color-base;
}

h3 {
	font-size: 1.5rem;
	color: $color-accent;
}

h4 {
	color: $color-accent;
}

// Text
//////////////////////////////////////////////////////////////////////

p {
	text-align: justify;
}

a {
	color: $color-base;
	font-weight: bold;
}

ul {
	list-style-type: square;
}

p, ul {
	font-size: 1.1rem;
	line-height: 1.4;
	margin: 1rem 0;
	padding: 0;
	font-weight: 300;
}